.o_image_editor_container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.o_image_editor_container canvas {
    flex-grow: 1;
    min-height: 0;
}
.toolbar-container {
    background-color: #f8f9fa !important;
}
.btn-group .btn {
    border-radius: 0;
}
.btn-group .btn:first-child {
    border-top-left-radius: 4px !important;
    border-bottom-left-radius: 4px !important;
}
.btn-group .btn:last-child {
    border-top-right-radius: 4px !important;
    border-bottom-right-radius: 4px !important;
}
.btn-sm {
    padding: 0.25rem 0.5rem;
    font-size: 0.875rem;
}